<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'}"></script>
    <script th:src="@{'https://code.jquery.com/jquery-3.6.0.min.js'}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">
    <link rel="stylesheet" href="../../static/css/about-metrics-contact.css" th:href="@{/css/about-metrics-contact.css}">
    <link rel="stylesheet" href="../../static/css/rayting.css" th:href="@{/css/rayting.css}">

</head>
<body>

<header th:insert="blocks/admin :: admin"></header>

<div th:style="'background-image: url(/images/background-about-metrics-contact.jpg); background-size: cover; display: grid; justify-items: center;'"
     style="background-image: url('../../static/images/background-about-metrics-contact.jpg');
     background-size: cover; padding: 0 10em; max-width: 100em!important;">

    <h1 th:text="${blog.title}" th:value="${blog.getId()}"></h1>
    <div class="div_ban" th:if="${blog.ban_blog}">
        <label for="chek" th:text="'Cнять бан с блога'"></label>
        <input class="chek" th:type="checkbox" checked="checked" id="chek" >
        <p th:text="'Этот блог забанен администратором'" th:style="'color: red'" ></p>
    </div>
    <div class="div_ban" th:unless="${blog.ban_blog}">
        <label for="unchek" th:text="'Пометить блог в бан'"></label>
        <input class="chek" th:type="checkbox" id="unchek">
    </div>
    <div class="text-center">
        <a class="btn btn-primary profile-button" th:href="@{~/admin/delete/blog/{id_blog}
                (id_blog = ${blog.id})}">Удалить блог</a>
    </div>

    <div class="alert alert-info mt-2" >
        <div>
            <a th:href="@{~/admin/account/{id}(id = ${blog.user.id})}" th:text="${blog.user.first_name} + ' ' + ${blog.user.last_name}"></a>
            <span th:text="'Дата блога ' + ${blog.date_create_blog} + ' Рейтинг ' "></span>
            <span id ="rating" th:text="${blog.rating}"></span>
        </div>
        <div class="div-about-metrics-contact" th:style="'float: left; margin: 0;'">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row" th:if="${blog.pictures}">
                                <div class="col-sm-6 col-md-4" th:each="picture : ${blog.pictures}">
                                    <img th:src="@{|/${picture.url_image}|}"
                                         th:alt="${picture.name}" class="img-rounded img-responsive" th:style="'width: 15em; heigth: 20em'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:text="${blog.full_text}"></p>
                </div>
            </div>
        </div>

        <hr/>
        <div th:if="${blog.ingredients.size()} != 0" >
            <h3 th:text="'Ингредиенты : '"></h3>
            <div th:each="ingredient : ${blog.ingredients}">
                <p>
                    <span th:text="${ingredientStat.count} + '. '"></span>
                    <span th:text="${ingredient.text}"></span>
                </p>
            </div>
        </div>
        <div class="container" id="value_blog" th:value="${blog.getId()}">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6" th:if="${state}">
                    <div id="comment" class="well well-sm" th:if="${blog.comments}">
                        <div  class="comment"  th:each="comment : ${blog.comments}" th:value="${comment.id}" th:if="${commentStat.index <= 1}">
                            <hr/>
                            <p th:text="${comment.user.username} + ' ' +
                            ${comment.dateCreateComment} + ' '"></p>
                            <p th:text="'' + ${comment.text}" th:style="'float: rigth'"></p>
                            <hr/>

                            <div class="comment_ban" th:if="${comment.banComment}" th:value="${comment.id}">
                                <label for="chek_comment" th:text="'Cнять бан с комментария'"></label>
                                <input class="comment_chek" th:type="checkbox" checked="checked" id="chek_comment" >
                                <p th:text="'Этот комментарий забанен администратором'" th:style="'color: red'"></p>
                            </div>
                            <div class="comment_ban" th:unless="${comment.banComment}" th:value="${comment.id}">
                                <label for="unchek_comment" th:text="'Пометить комментарий в бан'"></label>
                                <input class="comment_chek" th:type="checkbox" id="unchek_comment">
                            </div>
                            <div >
                                <a class="btn btn-primary profile-button" th:href="@{~/admin/delete/comment/{id_admin}/{id_comment}
                                            (id_admin = ${idAdmin}, id_comment = ${comment.id})}">Удалить комментарий</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6" th:unless="${state}">
                        <div id="comment" class="well well-sm" th:if="${blog.comments}">
                            <div  class="comment"  th:each="comment : ${blog.comments}" th:value="${comment.id}">
                                <hr/>
                                <p th:text="${comment.user.username} + ' ' +
                                    ${comment.dateCreateComment} + ' '"></p>
                                <p th:text="'' + ${comment.text}" th:style="'float: rigth'"></p>
                                <hr/>

                                <div class="comment_ban" th:if="${comment.banComment}" th:value="${comment.id}">
                                    <label for="chek_comment" th:text="'Cнять бан с комментария'"></label>
                                    <input class="comment_chek" th:type="checkbox" checked="checked" id="chek_comment" >
                                    <p th:text="'Этот комментарий забанен администратором'" th:style="'color: red'"></p>
                                </div>
                                <div class="comment_ban" th:unless="${comment.banComment}" th:value="${comment.id}">
                                    <label for="unchek_comment" th:text="'Пометить комментарий в бан'"></label>
                                    <input class="comment_chek" th:type="checkbox" id="unchek_comment">
                                </div>
                                <div >
                                    <a class="btn btn-primary profile-button" th:href="@{~/admin/delete/comment/{id_admin}/{id_comment}
                                            (id_admin = ${idAdmin}, id_comment = ${comment.id})}">Удалить комментарий</a>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
        <span th:if="${state}"><a id="show_comment" th:href="@{~/admin/user/blog/{id_admin}/{id_user}/{id_blog}/{bool}(id_admin = ${idAdmin},
            id_user = ${blog.getUser().getId()}, id_blog= ${blog.id}, bool = false)}">Посмотреть все комментарии</a>&emsp;</span>
        <span th:unless="${state}"><a id="show_comment" th:href="@{~/admin/user/blog/{id_admin}/{id_user}/{id_blog}/{bool}(id_admin = ${idAdmin},
            id_user = ${blog.getUser().getId()}, id_blog= ${blog.id}, bool = true)}">Свернуть все комментарии</a>&emsp;</span>

        <span><a th:href="@{~/admin/user/all-blogs/{id_admin}/{id_user}(id_admin = ${idAdmin},id_user = ${blog.user.id})}">К списку блогов пользователя</a>&emsp;</span>
        <span><a th:href="@{~/admin/blog/list/{id_admin}?data=rating(id_admin = ${idAdmin})}">К списку всех блогов</a>&emsp;</span>


    </div>

</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>



</body>

<script type="text/javascript" src="../../static/js/bun_blog.js" th:src="@{/js/bun_blog.js}"></script>
<script type="text/javascript" src="../../static/js/bun_comment.js" th:src="@{/js/bun_comment.js}"></script>
<script type="text/javascript" src="../../static/js/show_all_comment.js" th:src="@{/js/show_all_comment.js}"></script>
<script type="text/javascript" src="../../static/js/date_time.js" th:src="@{/js/date_time.js}" ></script>
</html>