<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header th:insert="blocks/admin :: admin"></header>

<div
     th:style="'background-image: url(/images/background-main.jpg); background-size: cover;'"
     style="background-image: url('../../static/images/background-main.jpg'); background-size: cover;">

    <div th:each="blog : ${blogList}" class="alert alert-info mt-2 mb-10"
         th:style="'margin-left: 10em; margin-right: 10em;'">
        <h3 th:text="${blog.title}"></h3>
        <div>
            <p th:text="${blog.announcement}"></p>
            <p th:text="'Рейтинг ' + ${blog.rating}"></p>
            <p ><span th:text="${blog.date_create_blog}"></span>
                <span th:text="${blog.user.getFirst_name()} + ' ' + ${blog.user.getLast_name()}"></span>
            </p>
        </div>
        <a th:href="@{~/admin/user/blog/{id_admin}/{id_user}/{id_blog}/{bool}(id_admin = ${idAdmin},
            id_user = ${blog.getUser().getId()}, id_blog= ${blog.id}, bool = true)}">Читать полностью</a>
    </div>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>