<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header th:insert="blocks/admin :: admin"></header>

<div class="container mt-5">
    <h1 th:text="${menu}"> </h1>
        <a class="p-2 text-dark"
           th:href="@{/admin/blog/list/{id}(id = ${idUser})}"
           th:text="|Список всех блогов|">Список всех блогов </a>
        <br>
        <a class="p-2 text-dark"
           th:href="@{/admin/all-accounts/{id}(id = ${idUser})}"
        >Список всех аккаунтов</a>

</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>
