<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header th:insert="blocks/user :: user"></header>
<div th:style="'background-image: url(/images/background-registration.jpg); background-size: cover; height: 60em;;'"
     style="background-image: url('../../static/images/background-registration.jpg');
       background-size: cover; height: 60em">

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px"
                     th:attr= "src=${user.foto},
                            alt=${user.username}"/>
                <span class="font-weight-bold" th:text="${user.first_name} + ' ' + ${user.last_name}"></span>
                <span class="text-black-50" th:text="${user.email}"></span>
                <span class="text-black-50" th:text="${rating}"> </span>
            </div>
        </div>
        <form class="col-md-5 border-right" th:action="@{{id}(id = ${user.getId()})}" th:method = "post" th:object="${user}">
            <!--<div class="p-3 py-5">-->
                <!--<div class="d-flex justify-content-between align-items-center mb-3">-->
                    <h4 class="text-right">Редактировние профиля :</h4>
                <!--</div>-->
                <!--<div class="row mt-2" >-->
                    <!--<div class="col-md-6">-->
                        <label class="labels">Имя :</label>
                        <input type="text" class="form-control" placeholder="Ваше имя" th:field="*{first_name}">
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <label class="labels">Фамилия :</label>
                        <input type="text" class="form-control" th:field="*{last_name}" placeholder="Ваша фамилия" >
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <label class="labels">Логин :</label>
                        <input type="text" class="form-control" placeholder="Ваш логин" th:field="*{username}">
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row mt-3" >-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Телефон :</label>
                        <input type="tel" class="form-control" placeholder="Ваш телефон" th:field="*{phone}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Email :</label>
                        <input type="email" class="form-control" placeholder="Электронная почта" th:field="*{email}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Дата рождения :</label>
                        <input type="date" class="form-control" placeholder="Дата рождения" th:field="*{born}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Twiter :</label>
                        <input type="text" class="form-control" placeholder="Twiter" th:field="*{twiter}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Facebook :</label>
                        <input type="text" class="form-control" placeholder="Facebook" th:field="*{facebook}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Instagram</label>
                        <input type="text" class="form-control" placeholder="Instagram" th:field="*{instagram}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">GitHub</label>
                        <input type="text" class="form-control" placeholder="GitHub" th:field="*{git_hub}">
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <label class="labels">Фото профиля :</label>
                        <input type="file" class="form-control" placeholder="Фото профиля" th:field="*{foto}">
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row mt-3" >-->
                    <!--<div class="col-md-6">-->
                        <label class="labels">Страна проживания :</label>
                        <input type="text" class="form-control" placeholder="Страна проживания" th:field="*{country}">
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <label class="labels">Город проживания :</label>
                        <input type="text" class="form-control" th:field="*{city}" placeholder="Город проживания">
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="mt-5 text-center">-->
                    <button class="btn btn-primary profile-button" type="submit">Сохрaнить</button>
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>
</div>


<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>