<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">
    <link rel="stylesheet" href="../../static/css/creat-blog.css" th:href="@{/css/creat-blog.css}">
    <link rel="stylesheet" href="../../static/css/about-metrics-contact.css" th:href="@{/css/about-metrics-contact.css}">

</head>
<body>

<header th:insert="blocks/user :: user"></header>

<!--<div class="container text-center">-->
<div id="creat-blog" th:if="${boolean}" class="align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm"
     th:style="'background-image: url(/images/background-about-metrics-contact.jpg); background-size: cover; display: grid; justify-items: center;'"
     style="background-image: url('../../static/images/background-about-metrics-contact.jpg');
     background-size: cover;">
    <div class="card p-5">
        <div class="row">
            <form th:action="@{~/user/update-blog/{id}(id = ${idUser})}"
                  th:method="post"
                  enctype="multipart/form-data"
                  class="col-md-12">
                <input th:type="hidden" th:field="*{blog.id}"/>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="Заголовок" class="form-control"
                               th:name="title" th:field="*{blog.title}"/>
                    </div>
                </div>


                <div class="row" th:if="${blog.pictures.size() != 0}" th:each="picture : ${blog.pictures}">
                    <div class="col-md-6">
                        <input type="text" placeholder="Название заглавного фото" class="form-control"
                               th:name="name" th:value="*{picture.name}"/>
                    </div>
                    <div class="col-md-6">
                        <input type="file" class="form-control" placeholder="Главное фото блога"
                               th:multiple="true" th:attr="accept='image/*', name='image'" th:value="*{picture.url_image}">
                    </div>
                </div>

                <div class="row" th:unless="${blog.pictures.size() != 0}">
                    <div class="col-md-6">
                        <input type="text" placeholder="Название заглавного фото" class="form-control"
                               th:name="name" th:value="*{picture.name}"/>
                    </div>
                    <div class="col-md-6">
                        <input type="file" class="form-control" placeholder="Главное фото блога"
                               th:multiple="true" th:attr="accept='image/*', name='image'" th:value="*{picture.url_image}">
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-md-12">
                        <textarea class="form-control textarea" placeholder="Анонос" rows="4"
                                  th:name="announcement" th:field ="*{blog.announcement}">message </textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <textarea class="form-control textarea" placeholder="Основной текст" rows="4"
                                  th:name="text" th:field="*{blog.full_text}">message </textarea>
                    </div>
                </div>
                <div th:id ="'ingredients'" class="col" th:if="${blog.ingredients.size()!=0}" >
                    <h5 th:text="'Ингредиенты : '"></h5>
                    <div class="row"  th:id="${blog.id}" th:name="${ingredient.id}" th:each="ingredient : ${blog.ingredients}">
                        <p th:style="'display: flex; flex-direction: row;'">
                            <span th:style="'margin-top: 8px;'" th:text="${ingredientStat.count} + '. '"></span>
                            <input class="form-control" th:type="'text'" th:value="${ingredient.text}"
                                th:name="'ingredient'" th:style="'width: auto;'"/>
                            <input id="delete" class="btn btn-outline-danger" th:type="'button'"
                                   th:value="'Удалить ингредиент'"/>
                        </p>
                    </div>
                    <div id="ingredient" class="column" th:style="'margin-left: 0.25em;'"></div>
                    <div>
                        <input id="button" class="btn btn-outline-success" th:type="'button'" th:value="'Добавить ингредиент'" />
                    </div>
                </div>

                <div th:id ="'ingredients'" class="col" th:unless="${blog.ingredients.size()!=0}" >
                    <h5 th:text="'Ингредиенты : '"></h5>
                    <div id="ingredient"></div>
                    <div>
                            <input id="button" class="btn btn-outline-success" th:type="'button'" th:value="'Добавить ингредиент'" />
                    </div>
                </div>
                <div class="send-button mt-4">
                    <button class="btn btn-outline-info" type="submit">Редактировать блог</button>
                </div>

            </form>
        </div>
    </div>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>


</body>
<script type="text/javascript" src="../../static/js/ingredient_delete.js" th:src="@{/js/ingredient_delete.js}"></script>
<script type="text/javascript" src="../../static/js/ingredients.js" th:src="@{/js/ingredients.js}" ></script>
<script type="text/javascript" src="../../static/js/date_time.js" th:src="@{/js/date_time.js}" ></script>
</html>