<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">
    <link rel="stylesheet" href="../../static/css/user-all-blogs.css" th:href="@{/css/user-all-blogs.css}">
    <link rel="stylesheet" href="../../static/css/about-metrics-contact.css" th:href="@{/css/about-metrics-contact.css}">

</head>
<body>

<header th:insert="blocks/user :: user"></header>

<div th:if="${boolean}" class="align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm"
     th:style="'background-image: url(/images/background-about-metrics-contact.jpg); background-size: cover; display: grid; justify-items: center;'"
     style="background-image: url('../../static/images/background-about-metrics-contact.jpg');
     background-size: cover;">
    <div th:unless="${boolean}">
        <h3 th:unless="${sort} == 'alphabet'"><a class="p-2 text-blue"
             th:href="@{~/user/all-blogs/{id}?data=alphabet(id = ${idUser})}"
             th:text="|Сортировать по алфавиту|"> </a></h3>
        <h3 th:unless="${sort} == 'date'"><a class="p-2 text-blue"
             th:href="@{~/user/all-blogs/{id}?data=date(id = ${idUser})}"
             th:text="|Сортировать по дате|"> ></a></h3>
        <h3 th:unless="${sort} == 'rating'"><a class="p-2 text-blue"
           th:href="@{~/user/all-blogs/{id}?data=rating(id = ${idUser})}"
           th:text="|Сортировать по рейтингу|"> ></a></h3>
    </div>
    <div class="container mt-4" >
        <div class="card p-3" th:each="blog : ${blogList}">
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative snipimage"
                         th:each="picture : ${blog.pictures}">
                            <img th:src="@{|/${picture.url_image}|}"
                                 th:alt="${picture.getName()}"
                                 class="rounded img-fluid w-100 img-responsive">
                            <span class="position-absolute user-timing" th:text="${blog.date_create_blog}">1 min</span></div>
                     <!--</div>-->
                </div>
                <div class="col-md-8">
                    <div class="mt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-1"><a th:href="@{~/user/blog/{id_user}/{id_blog}/{id_user_blog}/{bool}
                            (id_user = ${blog.getUser().id}, id_blog = ${blog.id}, id_user_blog = ${blog.getUser().getId()},
                             bool = true)}" th:text="${blog.title}"></a> </h5>
                            <span><i class="fa fa-heart text-danger"></i> </span>
                        </div>
                        <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">
                            <!--<div class="d-flex flex-row align-items-center"> -->
                                <!--<i class="fa fa-eye"></i> -->
                                <!--<span class="ms-1 views">453674</span>-->
                            <!--</div>-->
                            <div class="d-flex flex-row align-items-center ms-2">
                                <i class="fa fa-heart"></i>
                                <span class="ms-1 views" th:text="'Рэйтинг ' + ${blog.rating}">4565</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-3">
                            <img th:src="@{|/${user.foto}|}" width="50" class="rounded-circle">
                            <div class="ms-2 d-flex flex-column">
                                <div class="d-flex flex-row align-items-center">
                                    <h6 th:text="${user.getFirst_name()} + ' ' + ${user.getLast_name()}">Thomas Hope</h6>
                                    <span class="dots"></span>
                                </div> <span class="days-ago"
                                             th:text="${blog.compareDate(blog.date_create_blog).get(0)} + ' ' +
                                                      ${blog.compareDate(blog.date_create_blog).get(1)}">2 days ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container "  th:unless="${boolean}" style="display: block;
    text-align: center;" th:style="'display: block; text-align: center'">
    <p th:text="${msg}" ></p>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>


</body>
<script type="text/javascript" src="../../static/js/date_time.js" th:src="@{/js/date_time.js}" ></script>
</html>