<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header th:insert="blocks/user :: user"></header>

<div th:style="'background-image: url(/images/background-main.jpg); background-size: cover;'"
     style="background-image: url('../../static/images/background-main.jpg'); background-size: cover;">

    <h3 th:text="${title}"></h3>
    <div th:each="blog : ${blogList}" class="alert alert-info mt-2 mb-10"
         th:style="'margin-left: 10em; margin-right: 10em;'">
        <h3 th:text="${blog.title}"></h3>
        <div>
            <p th:text="${blog.announcement}"></p>
            <p th:text="'Рейтинг ' + ${blog.rating}"></p>
            <p ><span th:text="${blog.date_create_blog}"></span>
                <span th:text="${blog.user.getFirst_name()} + ' ' + ${blog.user.getLast_name()}"></span>
            </p>
        </div>
        <a th:href="@{~/user/blog/{idUser}/{idBlog}/{idUserBlog}/{bool}(idUser= ${idUser},idBlog = ${blog.getId()},
           idUserBlog = ${blog.getUser().getId()}, bool = true)}">Читать полностью</a>
    </div>
</div>

<div class="container "  th:unless="${list}" style="display: block; text-align: center;" th:style="'display: block; text-align: center'">
    <p th:text="${msg}" ></p>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>