<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header th:insert="blocks/user :: user"></header>

<div class="align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm"
     th:style="'background-image: url(/images/background-about-metrics-contact.jpg); background-size: cover; height: 47.5em;;'"
     style="background-image: url('../../static/images/background-registration.jpg');
     background-size: cover; height: 47.5em">
    <div class="row" th:style="'margin-left:10em;'" th:unless="${user.ban_user}">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <a th:href="@{~/user/{id}(id = ${user.getId()})}">
                    <img class="rounded-circle mt-5" width="150px"
                         th:src="@{|/${user.foto}|}"
                         th:alt="${user.username}"/>
                </a>
                <span class="font-weight-bold" th:text="${user.first_name} + ' ' + ${user.last_name}"></span>
                <span class="text-black-50" th:text="${user.email}"></span>
                <span class="text-black-50" th:text="${rating}"> </span>
            </div>
        </div>
        <form class="col-md-5 border-right" th:action="@{~/user/update}" th:method = "post"
              th:object="${user}" enctype="multipart/form-data">
            <div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Редактировние профиля :</h4>
                </div>
                <div class="row mt-2" >
                    <div class="col-md-6">

                        <input type="hidden" class="form-control" placeholder="Ваше имя" th:field="*{id}">

                        Имя :<input type="text" class="form-control" placeholder="Ваше имя" th:field="*{first_name}">
                    </div>
                    <div class="col-md-6">
                        Фамилия : <input type="text" class="form-control" th:field="*{last_name}" placeholder="Ваша фамилия" >
                    </div>
                    <div class="col-md-6">
                        Логин : <input type="text" class="form-control" placeholder="Ваш логин" th:field="*{username}" />
                    </div>
                </div>
                <div class="row mt-3" >
                    <div class="col-md-12">
                        Телефон : <input type="tel" class="form-control" placeholder="Ваш телефон" th:field="*{phone}" />
                    </div>
                    <div class="col-md-12">
                        E-mail : <input type="email" class="form-control" placeholder="Электронная почта" th:field="*{email}" />
                    </div>
                    <div class="col-md-12">
                       Дата рождения : <input type="date" class="form-control" placeholder="Дата рождения" th:field="*{born}">
                    </div>
                    <div class="col-md-12">
                        Twitter : <input type="text" class="form-control" placeholder="Twiter" th:field="*{twiter}">
                    </div>
                    <div class="col-md-12">
                        Facebook : <input type="text" class="form-control" placeholder="Facebook" th:field="*{facebook}">
                    </div>
                    <div class="col-md-12">
                        Instagram : <input type="text" class="form-control" placeholder="Instagram" th:field="*{instagram}">
                    </div>
                    <div class="col-md-12">
                        Фото : <input type="file" class="form-control" placeholder="Фото профиля"
                                      th:multiple="true" th:attr="accept='image/*', name='image'" th:value="${user.foto}">
                    </div>
                </div>
                <div class="row mt-3" >
                    <div class="col-md-6">
                        Страна проживания : <input type="text" class="form-control" placeholder="Страна проживания" th:field="*{country}">
                    </div>
                    <div class="col-md-6">
                        Город проживания : <input type="text" class="form-control" th:field="*{city}" placeholder="Город проживания">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary profile-button" type="submit">Сохрaнить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm"
     th:style="'background-image: url(/images/background-about-metrics-contact.jpg); background-size: cover; height: 47.5em;;'"
     style="background-image: url('../../static/images/background-registration.jpg');
     background-size: cover; height: 47.5em">
    <div class="row" th:style="'margin-left:10em;'" th:if="${user.ban_user}">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <p th:text="'заблокированно администратором сайта!'" th:style="'color: red;'" ></p>
                <p th:text="'для разблокирования свяжитесь с тех поддержкой сайта!'" th:style="'color: red;'" ></p>
            </div>
        </div>
    </div>
</div>


<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
<script type="text/javascript" src="../../static/js/date_time.js" th:src="@{/js/date_time.js}" ></script>
</html>