#rate{
    width: 20em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rate>div{
    margin-top: -8px;
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 15px;
    background-color: black;
}