<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${blog.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'}"></script>
    <script th:src="@{'https://code.jquery.com/jquery-3.6.0.min.js'}">
            <!--th:integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="-->
            <!--th:crossorigin="anonymous">-->
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">
    <link rel="stylesheet" href="../static/css/rayting.css" th:href="@{/css/rayting.css}">

</head>
<body>

<header  th:insert="blocks/header :: header"></header>

<div class="container mt-5" th:unless="${blog.ban_blog}">
    <h1 th:text="${blog.title}"></h1>

    <div class="alert alert-info mt-2" >
        <div>
            <a th:href="@{/account/{id}(id = ${blog.user.id})}" th:text="${blog.user.first_name} + ' ' + ${blog.user.last_name}"></a>
            <span th:text="'Дата блога ' + ${blog.date_create_blog} + ' Рейтинг ' "></span>
            <span id ="rating" th:text="${blog.rating}"></span>
        </div>

        <div class="div-about-metrics-contact" th:style="'float: left; margin: 0;'">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row" th:if="${blog.pictures}">
                                <div class="col-sm-6 col-md-4" th:each="picture : ${blog.pictures}">
                                    <img th:src="@{|/${picture.url_image}|}"
                                         th:alt="${picture.name}" class="img-rounded img-responsive" th:style="'width: 15em; heigth: 20em'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p th:text="${blog.full_text}"></p>
        <a href="/">На главную</a>

        <div id="rate">
            <p id="p_rate" th:value="${blog.getId()}" >Оцените : </p>
            <div id="first">
            </div>
            <div id="second">
            </div>
            <div id="third">
            </div>
            <div id="forth">
            </div>
            <div id="fifth">
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm" th:if="${blog.comments}">
                        <div id="comment" class="row" th:each="comment : ${blog.comments}" th:if="${commentStat.index <= 1}" >
                            <p th:text="${commentStat.count} + ' ' + ${comment.user.username} + ' ' +
                            ${comment.dateCreateComment}" th:style="'margin-bottom: 0;'" ></p>
                            <p th:text="${comment.text}" th:unless="${comment.banComment}" th:style="'margin-bottom: 0;'" ></p>
                            <p th:style="'color:red; margin-bottom: 0;'" th:text="'комментарий заблокирован администратором сайта!'" th:if="${comment.banComment}"></p>
                        </div>
                     </div>
                    <a th:href="@{~/all-comments}">Посмтреть все комментарии</a>
                </div>
            </div>
        </div>


    </div>

    <div class="comment">
        <div class="listComments"></div>
        <form  th:action="@{~/comment/creat/{id}(id = ${blog.getId()})}" th:method="post" class="leave">

            <h2>Оставьте свой комментарий :</h2>
            <p>Имя пользователя : <span id="name" th:value="Guest" h>Guest</span> </p>
            <!--<textarea id="name" th:style="'height: 15px; width: 200px; font-size: 15px;'"></textarea>-->
            <p>Комментарий :<br>
                <textarea id="inputText" th:field="*{comment.text}" th:style="'width: 600px; height: 100px'"></textarea>
            </p>

            <input id="input" type="submit" value="Отправить" />
        </form>
    </div>

</div>

<div class="container mt-5" th:if="${blog.ban_blog}">
    <h1 th:text="${blog.title}"></h1>
    <div class="alert alert-info mt-2" th:style="'padding-bottom: 5em;'">
        <div>
            <a th:href="@{/account/{id}(id = ${blog.user.id})}" th:text="${blog.user.first_name} + ' ' + ${blog.user.last_name}"></a>
            <span th:text="'Дата блога ' + ${blog.date_create_blog} + ' Рейтинг ' "></span>
            <span id ="rating" th:text="${blog.rating}"></span>
        </div>

        <div class="div-about-metrics-contact" th:style="'float: left; margin: 0;'">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="well well-sm">
                            <div class="row" th:if="${blog.pictures}">
                                <div class="col-sm-6 col-md-4" th:each="picture : ${blog.pictures}">
                                    <img th:src="@{|/${picture.url_image}|}"
                                         th:alt="${picture.name}" class="img-rounded img-responsive" th:style="'width: 15em; heigth: 20em'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">
            <div class="d-flex flex-row align-items-center ms-2">
                <p th:text="'заблокированно администратором сайта!'" th:style="'color: red;'" ></p>
            </div>
        </div>

        <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">
            <div class="d-flex flex-row align-items-center ms-2">
                <p th:text="'для разблокирования свяжитесь с тех поддержкой сайта!'" th:style="'color: red;'" ></p>
            </div>
        </div>
        <a href="/">На главную</a>
    </div>

</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>



</body>

<script type="text/javascript" src="../static/js/rating.js" th:src="@{/js/rating.js}"></script>
<script type="text/javascript" src="../static/js/comment.js" th:src="@{/js/comment.js}"></script>

</html>
