<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${blog.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header  th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${blog.title}"></h1>
    <div class="alert alert-info mt-2" >
        <div>
            <a th:href="@{user/account/{id}(id = ${blog.user.id})}" th:text="${blog.user.first_name} + ' ' + ${blog.user.last_name}"></a>
            <span th:text="'Дата блога ' + ${blog.date_create_blog} + ' Рейтинг ' + ${blog.rating}"></span>
        </div>

        <p th:text="${blog.full_text}"></p>
        <a href="/">На главную</a>
    </div>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
