<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<div class="container " style="display: block;
    text-align: center;" th:style="'display: block; text-align: center'">
    <span th:text="${message}"></span>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>