<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" >
    <link rel="stylesheet" href="../static/css/mainCSS.css" th:href="@{/css/mainCSS.css}">

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main class="container" th:if="${list}" >
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark bg-fon"
         th:style="'background-image: url(/images/background-main.jpg); background-size: cover;'"
         style="background-image: url('../static/images/background-main.jpg'); background-size: cover;">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic"  th:text="${blogList[0].title}" >Заголовок блога с наибольшим рейтингом</h1>

            <p class="lead-my-3" th:text="${blogList[0].full_text}">Текст блога</p>

            <p class="lead-mb-0"><a  class="text-white fw-bold"
               th:href="@{blog/{id}(id_user = ${blogList[0].user.id})}">Продолжить читать...</a></p>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">


                    <strong class="d-inline-block mb-2 text-primary"
                            th:text="'Рейтинг блога ' + ${blogList[1].rating}" >Рейтинг</strong>

                    <h3 class="mb-0" th:text="${blogList[1].title}" >Заголовок блог 1</h3>

                    <div class="mb-1 text-muted" th:text="${blogList[1].date_create_blog}" >Дата поста</div>

                    <p class="card-text mb-auto"  th:text="${blogList[1].full_text}" >Текст блога.</p>

                    <a  class="stretched-link" th:href="@{blog/{id}(id_user = ${blogList[1].user.id})}"  >Продолжить читать...</a>
                </div>
                <div class="col-auto d-none d-lg-block" >

                    <img class="bd-placeholder-img" width="200" height="250"
                         th:attr= "src=${blogList[1].pictures.stream().findFirst().get().getUrl_image()},
                         alt=${blogList[1].pictures.stream().findFirst().get().getName_picture()}" />
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" >

                    <strong class="d-inline-block mb-2 text-success"
                            th:text="'Рейтинг блога ' + ${blogList[2].rating}" >Рейтинг</strong>

                    <h3 class="mb-0" th:text="${blogList[2].title}" >Заголовок блог 2</h3>

                    <div class="mb-1 text-muted" th:text="${blogList[2].date_create_blog}" >Дата поста</div>

                    <p class="mb-auto" th:text="${blogList[2].full_text}" >Текст блога.</p>

                    <a  class="stretched-link" th:href="@{blog/{id}(id_user = ${blogList[2].user.id})}" >Продолжить читать...</a>
                </div>
                <div class="col-auto d-none d-lg-block">

                    <img class="bd-placeholder-img" width="200" height="250"
                         th:attr= "src=${blogList[2].pictures.stream().findFirst().get().getUrl_image()},
                         alt=${blogList[2].pictures.stream().findFirst().get().getName_picture()}" />
                </div>
            </div>
        </div>
    </div>



    <div class="row" th:each="blog : ${blogList}" >
        <div class="col-md-8" >

            <article class="blog-post" th:if="blogStat >= 3 && blogStat <= 5" >

                <h2 class="blog-post-title" th:text="*{blog.title}">Заголовок</h2>
                <p class="blog-post-meta" th:text="*{blog.date_create_blog}"> Дата
                    <a  th:href="@{user/{id}(id = ${blog.user.getId()})}"
                        th:text="${blog.user.getFirst_name()} + ' '  + ${blog.user.getLast_name()}" >Имя блогера</a>
                </p>

                <p  th:text="${blog.full_text}">Текст блога.</p>
                <hr>
                <ol class="ul" style="display: inline;" th:each="pic : ${blog.pictures}" >
                    <li th:if="${blogStat == 1}">
                        <img  th:attr="src=${pic.url_image}" >Фото 1</li>
                </ol>
                <a  class="stretched-link" th:href="@{blog/{id}(id = ${blog.id})}" >Продолжить читать...</a>
            </article>


            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-primary" href="/blog/list">Все блоги</a>
            </nav>

        </div>

        <div class="col-md-4">

            <div class="p-4">
                <h4 class="fst-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="user/arhive">March 2014</a></li>
                    <li><a href="user/arhive">February 2014</a></li>
                    <li><a href="user/arhive">January 2014</a></li>
                    <li><a href="user/arhive">December 2013</a></li>
                    <li><a href="user/arhive">November 2013</a></li>
                    <li><a href="user/arhive">October 2013</a></li>
                    <li><a href="user/arhive">September 2013</a></li>
                    <li><a href="user/arhive">August 2013</a></li>
                    <li><a href="user/arhive">July 2013</a></li>
                    <li><a href="user/arhive">June 2013</a></li>
                    <li><a href="user/arhive">May 2013</a></li>
                    <li><a href="user/arhive">April 2013</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/evgeniy2702/EvgeniyZhurenkoJAVA">GitHub</a></li>
                    <li><a href="https://twitter.com/?lang=ru">Twitter</a></li>
                    <li><a href="https://www.facebook.com/?ref=tn_tnmn">Facebook</a></li>
                </ol>
            </div>
        </div>

    </div><!-- /.row -->

</main>


<main class="container "  th:unless="${list}" style="display: block; text-align: center;" th:style="'display: block; text-align: center'">
    <p th:text="${msg}" ></p>
</main>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>