<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/registrationCSS.css}"
          href="../static/css/registrationCSS.css" rel="stylesheet">
</head>
<body th:style="'background-image: url(/images/background-registration.jpg); background-size: cover;'"
      style="background-image: url('../static/images/background-registration.jpg'); background-size: cover;">

<form class="form" action="/registration" method = "post" >

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <div th:if="${bool}">
        <span style="color: red" th:text="${msg}"></span>
    </div>
    <br>

    <input class="input" type="text" placeholder="Ваше имя" name="first_name">
    <input class="input" type="text" placeholder="Ваше фамилия" name="last_name">
    <input class="input" type="email" placeholder="Ваш e-mail" name = "email">
    <input class="input" type="tel" placeholder="Ваш телефон" name="phone">
    <input class="input" type="text" placeholder="Ваше логин" name="username">
    <input class="input" type="password" placeholder="Пароль" name="password" >
    <input class="input" type="password" placeholder="Пароль еще раз" name="repeat_password">

    <button id="button" class="btn" type="submit" name="button"
            disabled="disabled">Регистрация</button>
    <br>
    <button class="btn" th:onclick="'document.location='/''">На главную</button>
</form>

</body>

<script type="text/javascript" src="../static/js/registration.js" th:src="@{/js/registration.js}"></script>

</html>