<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/signInCSS.css}"  href="../static/css/signInCSS.css" rel="stylesheet">
</head>
<body>

<div class="container " style="display: block;
    text-align: center;" th:style="'display: block; text-align: center'">
    <p th:text="${message}" ></p>
</div>

<footer class="blog-footer" th:insert="blocks/footer :: footer"></footer>

</body>
</html>